body{
  background-color: #ffff90;
}
h1{
   font-family: 'Tangerine', serif;
  font-size: 48px;
  color:white;
  text-shadow: 5px 5px 5px #aaa;
  text-align: center;
}
nav{
  height: 40px;
}
a:link, a:visited {
  background-color: lightyellow;
  text-decoration: none;
}
a:hover, a:active{
  font-size: 1.2em;
  width: 25%;
 
  /*background-color: lightblue;*/
}
div > nav {
  text-align: center;
    border: 1px solid black;
  padding: 5px;
  font-size: 1.2em;
  margin: 5px;

  } 
 #navcontainer{
  border: 1px solid black;
   padding: 10px;
    text-shadow: #b8b894;
    height: 60px;
    background-color:  #ff3366;

}
#nav1{
background-color: lightyellow;
width: 20%;
float: left;
  margin:5px;

}
#nav2{

  background-color: lightyellow;
  width: 20%; 
  float: left;
  margin: 5px;
}
#nav3{

 background-color: lightyellow;
  width: 20%;
  float: left;
  margin: 5px;
}
#nav4{

  background-color: lightyellow;
width: 20%;
float: right;
  margin: 5px;
}


  #a{
   
 
  }

  #b {
    padding: 20px;
    text-align: center;
    padding: 1px;
    background-color: #aa80dd;
  }
  #c {  
  padding: 10px;
  margin-top: 5px;
  border:10px solid black;
  text-align: center;
  background-color: lightblue ;
  overflow: auto;
  box-sizing: border-box;
  }
