body{
  background-color: #ffff90;
}
h1{
   font-family: 'Tangerine', serif;
  font-size: 62px;
  color:white;
  text-shadow: 5px 5px 5px  #000000;
  text-align: center;
}
nav{
  height: 40px;
}
a:link, a:visited {
  background-color: lightyellow;
  text-decoration: none;
}
a:hover, a:active{
  font-size: 1.2em;
  width: 25%;
 
  /*background-color: lightblue;*/
}
div > nav {
  font-family: 'Pacifico', cursive;
  color: grey;
  text-shadow: 5px 5px 5px #b8b894;
  text-align: center;
    border: 1px solid black;
  padding: 5px;
  font-size: 1.4em;
  margin: 5px;
box-sizing: border-box;
  } 

#nav1{
background-color: lightyellow;
 border: 2px solid black;
width: 22%;
float: left;
  margin:5px;

}
#nav2{

  background-color: lightyellow;
  width: 22%; 
   border: 2px solid black;
  float: left;
  margin: 5px;
}
#nav3{

 background-color: lightyellow;
  width: 22%;

  border: 2px solid black;
  float: left;
  margin: 5px;
}
#nav4{

  background-color: lightyellow;
width: 22%;
float: left;
  
/*font-size: 0.8em;*/
 border: 2px solid black;
  margin: 5px;
}


  #a{
    padding: 10px;
    text-shadow: #b8b894;
    height: 60px;
    background-color:  #ff3366;

 
  }

  #b {
    padding: 20px;
    text-align: center;
    padding: 1px;
    background-color: #aa80dd;
  }
  #c {  
  padding: 10px;
  margin-top: 5px;
  border:10px solid black;
  text-align: center;
  background-color: lightblue ;
  overflow: auto;
  box-sizing: border-box;
  }
